*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#edf1f3;
  font-family: Arial, Helvetica, sans-serif;
}

header
{
  background-color: #FFFFFF;
}

/* title */
.head-top span{
  font-size: 2.5rem;
  font-weight: bold;
  vertical-align: middle;
}

.head-top img{
  vertical-align: middle;
}

/* container button */
.top-container{
  width: 80%;
  background-color: white;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}

/* button position sizes and colors */
.top-container input{
  color: white;
  font-size: 0.7rem;
  padding: 7px;
  border: none;
  border-radius: 8px;
}

.left-button{
  margin-left: 40px;
  background-color: #44AAE9;
}

#right-button{
  background-color: white;
  color: rgba(128, 128, 128, 0.767);
  border: 1px solid gray;
}

/* /button position sizes and colors */

/* central container */
.container{
  width: 80%;
  background-color: white;
  margin: 2px auto;
}

/* down arrow */
.container ul::before{
  content: "\1F783  ";
}

/* position and style none for list */
.container ul li{
  list-style-position: inside;
  list-style: none;
}

/* need to ragroup similiar function */
.check::before{
  display: inline-block;
  text-align: center;
  line-height: 15px;
  content: "\2714";
  font-size: 0.6rem;
  color: green;
  width: 15px;
  height: 15px;
  border: 1px solid green;
  border-radius: 50%;
  margin-right: 10px;
}

.cross::before{
  display: inline-block;
  text-align: center;
  line-height: 15px;
  content: "\2613";
  font-size: 0.6rem;
  color: red;
  width: 15px;
  height: 15px;
  border: 1px solid red;
  border-radius: 50%;
  margin-right: 10px;
}

/* all tags dimension and font */
.tag{
  color: white;
  padding: 4px 10px;
  font-size: 0.6rem;
  border-radius: 10px;
}

/* spacing all section */
.container .spacing{
  padding: 20px 50px;
}

/* spacing list and font bold */
.spacing ul li{
  padding-top: 20px;
  font-weight: 550;
}

ul .list-title{
  font-size: 1.5rem;
  font-weight: bolder;
}

/* tags colors */

.blue{
  background-color: #44AAE9;
}

.purple{
  background-color: #9C72E4;
}

.green-aqua{
  background-color: #64C0A9;
}
.orange{
  background-color: #F29E33;
}
.pink{
  background-color: #D761A0;
}
.green{
  background-color: #64C0A9;
}

/* /tags colors */
